<div class="grid-container">
    <div class="card">
        <img src="../../assets/images/room.jpg" alt="card-image">
        <div class="card-content">
            <h3>Name</h3>
            <p>Short description</p>
            <span id="price">Price</span><span>Free cancelation</span>
        </div>
    </div>
    <div class="card">
        <img src="../../assets/images/room.jpg" alt="card-image">
        <div class="card-content">
            <h3>Name</h3>
            <p>Short description</p>
            <span id="price">Price</span><span>Free cancelation</span>
        </div>
    </div>
    <div class="card">
        <img src="../../assets/images/room.jpg" alt="card-image">
        <div class="card-content">
            <h3>Name</h3>
            <p>Short description</p>
            <span id="price">Price</span><span>Free cancelation</span>
        </div>
    </div>
    <div class="card">
        <img src="../../assets/images/room.jpg" alt="card-image">
        <div class="card-content">
            <h3>Name</h3>
            <p>Short description</p>
            <span id="price">Price</span><span>Free cancelation</span>
        </div>
    </div>
    <div class="card">
        <img src="../../assets/images/room.jpg" alt="card-image">
        <div class="card-content">
            <h3>Name</h3>
            <p>Short description</p>
            <span id="price">Price</span><span>Free cancelation</span>
        </div>
    </div>
    <div class="card">
        <img src="../../assets/images/room.jpg" alt="card-image">
        <div class="card-content">
            <h3>Name</h3>
            <p>Short description</p>
            <span id="price">Price</span><span>Free cancelation</span>
        </div>
    </div>

</div>
