<div class="grid-container">

    <div class="card" *ngFor="let item of apiData">
        <img src="{{ item?.image }}" alt="card-image">
        <div class="card-content">
            <h3>{{ item?.name }}</h3>
            <p>{{ item?.description }}</p>
            <p id="price">Price: {{ item.price }}</p><br>
            <!--<p *ngIf="item.FreeCancelation">Book with free cancelation!</p><br>
            <p *ngIf="!item.FreeCancelation">No free cancelation available</p>--> <!--change that later-->

        </div>
    </div>
    

</div>
